body {
  width: 1024px;
}
.wrapper {
  width: 100%;

  position: relative;
}
.sliders {
  width: 100%;
  height: 100%;
  position: absolute;
}
.sliders-item {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.slides-item {
  margin: 0 auto;
  width: 83%;
}
#left-button,
#right-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: blue;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20%;
  font-size: 32px;
  font-weight: 600;
  cursor: pointer;
}
#left-button {
  left: 0;
}
#right-button {
  right: 0;
}
